h1{
  text-align: center;
  font-family: andale mono;
  color: white;
}
.mid-container{
  float: left;
  width: 30%;
  padding-right: 40px;
  padding-left: 150px;

}

p1
{
  float: left;
  text-align: left;
  font-family: andale mono;
  color: #ffdf91;
  font-size: 2.2rem;
}
body{
background-color: #d6b0b1;
text-align: left;
margin-left:80px;
}