*{
  margin: 0;
  padding: 0;
  font-family: andale mono;
}

body{
  background-color: #D5F5E3;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

.box3 {
  width: 300px;
  margin: 50px auto;
  border-radius: 15px;
  background: #F9FEFF;
  color: #000000;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  position: relative;
}

.sb13:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #F9FEFF;
  border-right: 15px solid transparent;
  border-top: 15px solid #F9FEFF;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

.sb14:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #F9FEFF;
  border-top: 15px solid #F9FEFF;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}
